h1,h2 {
  text-align: center;
  font-family: Cambria, Cochin;
  color: rgb(64, 64, 171);
}

.kartya{
  border:1px solid black;
  margin: 20px auto;   /* KÖZÉPRE, NEM SZŰKÍT */
  
  padding:30px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;

}
.szoveg{
  text-align: justify;
}
.datum{
  color:blue;
  font-size: smaller;
}
.ki{
  color:rgb(0, 255, 13);
  font-size: 15px;
  font-style: italic;
}
.nev{
  color:rgb(255, 0, 157);
  text-align: right;
}
span{
  font-size: 10px;
}

.zoldGomb{
  background-color: rgb(11, 236, 30);
  color:white;
  border:none;
  border-radius: 8px;
  padding:10px 15px;
  font-size:16px;
  cursor:pointer;
  margin-top: 8px;
}
.urlapDoboz{
  border:2px solid green;
  text-align: center;
  margin:20px ;
  padding:10px;
  border-radius: 5px;
}

input{
  margin:5px;
  border-radius: 5px;
  padding:5px
}
.gombok{
  width: 30px;
}
@media (max-width:1000px){
  .kartya{
    margin:10px;
    padding: 10px;
    font-size: 15px;
  }
  .urlapDoboz{
  
    margin:20px 20px;
    padding:10px;
  
}
}
.doboz{
  background: linear-gradient(
    135deg,
    #c3c8ff,   /* világosabb lila */
    #d0e0ff,   /* halvány kék */
    #c8ffe8    /* pasztell zöldeskék */
  );
  border:1px solid black;
  margin:10px;
  padding:10px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px;
  align-items: center;
}
.containerFlex {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

/* Kártya */
.doboz2 {
  padding: 15px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 3px 3px 8px;
  background: linear-gradient(
    135deg,
    #c3c8ff,   /* világosabb lila */
    #d0e0ff,   /* halvány kék */
    #c8ffe8    /* pasztell zöldeskék */
  );
  height: 600px;
}
/* Kereső blokk */
.keresesiCimek {
    display: flex;
    justify-content: space-between;
    width: 940px;
    margin-bottom: 10px;
}

.cim1, .cim2 {
    font-weight: bold;
    font-size: 18px;
}

.keretKeres {
    display: flex;
    gap: 20px;
    align-items: flex-end;
}

.inputBlokk {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputBlokk input {
    width: 300px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.talalat {
    margin-top: 30px;
}
body{
  background: linear-gradient(
    135deg,
    #d2d6ff,   /* kicsit sötétebb kékes-lila */
    #e4e7ff,   /* közepesen világos tónus */
    #d6f5ea    /* enyhén sötétebb zöldeskék */
  );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}
.label{
  font-weight: bold;
  font-size: 30px;
}